/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #fdf0c2;
  overflow-x: hidden;
}

.background {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.background-img {
  display: block;
  width: 100%;
  height: auto;
}

.ghost-button {
  position: absolute;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  z-index: 10;
}

.nav-link {
  position: absolute;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
}
